<html>
	<head>
		<title>{{ title|e }}</title>
	</head>
	<body>
		<p>{{ text|e }}</p>
		{% for project in projects %}
			<a href="{{ project.url|e }}">{{ project.name|e }}</a>
			<p>{{ project.description|e }}</p>
		{% else %}
			No projects
		{% endfor %}
	</body>
</html>